@import "tailwindcss";

@theme {
  --color-cyan-400: #22d3ee;
  --font-sans: 'Poppins', sans-serif;
}

:root {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  background-color: #0f172a;
  overflow-x: hidden;
}

/* Custom Scrollbar */
::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: #0f172a;
}

::-webkit-scrollbar-thumb {
  background: #1e293b;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: #22d3ee;
}